# Import Libraries

In [1]:
import os
os.chdir(r'C:\Users\p2308924\Practical AI (PAI)\Github CA\PAICA1\Datasets')

import pandas as pd

# Customer

In [2]:
ogCustomer = pd.read_csv("training-data-customer-features_v1.0.csv")
ogCustomer.head()

,country_code,customer_id,mobile_verified,num_orders_last_50days,num_cancelled_orders_last_50days,num_refund_orders_last_50days,total_payment_last_50days,num_associated_customers,first_order_datetime
0,PH,phjr7fpu,True,0,0,0,0.000000,1,2023-02-06 14:31:37
1,PH,phawdv1w,True,0,0,0,1.082516,1,2023-02-07 10:03:22
2,PH,ph9ocrr7,True,0,0,0,0.050195,2,2022-03-08 06:16:09
3,PH,phf8rsec,True,0,0,0,0.000000,3,2021-08-07 13:54:45
4,PH,ph74rzxh,True,0,0,0,0.000000,1,2022-01-28 12:57:22

In [3]:
ogCustomer.shape

(2195916, 9)

# Missing Values

In [4]:
ogCustomer.isnull().sum()

country_code                           0
customer_id                            0
mobile_verified                        0
num_orders_last_50days                 0
num_cancelled_orders_last_50days       0
num_refund_orders_last_50days          0
total_payment_last_50days              0
num_associated_customers               0
first_order_datetime                1240
dtype: int64

In [5]:
percentageOfNa = round(ogCustomer.iloc[:,-1].isnull().sum() / len(ogCustomer.iloc[:,-1]) * 100, 2)
print(f'{percentageOfNa}% of the rows contain missing values. Since {percentageOfNa}% is very insignificant, we will drop the missing values')

0.06% of the rows contain missing values. Since 0.06% is very insignificant, we will drop the missing values

In [6]:
dropnaCustomer = ogCustomer.dropna()
dropnaCustomer.isnull().sum()

country_code                        0
customer_id                         0
mobile_verified                     0
num_orders_last_50days              0
num_cancelled_orders_last_50days    0
num_refund_orders_last_50days       0
total_payment_last_50days           0
num_associated_customers            0
first_order_datetime                0
dtype: int64

# Duplicated Rows

In [7]:
dropnaCustomer.duplicated().sum()

34

In [8]:
dropDuplicatesCustomer = dropnaCustomer.drop_duplicates(keep='last')
dropDuplicatesCustomer.duplicated().sum()

0

# Datatypes

In [9]:
dropDuplicatesCustomer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2194642 entries, 0 to 2195915
Data columns (total 9 columns):
 #   Column                            Dtype
---  ------                            -----
 0   country_code                      object
 1   customer_id                       object
 2   mobile_verified                   bool
 3   num_orders_last_50days            int64
 4   num_cancelled_orders_last_50days  int64
 5   num_refund_orders_last_50days     int64
 6   total_payment_last_50days         float64
 7   num_associated_customers          int64
 8   first_order_datetime              object
dtypes: bool(1), float64(1), int64(4), object(3)
memory usage: 152.8+ MB

In [10]:
dropDuplicatesCustomer.iloc[:,-1] = pd.to_datetime(dropDuplicatesCustomer.iloc[:,-1], format='%Y-%m-%d %H:%M:%S')

C:\Users\p2308924\AppData\Local\Temp\ipykernel_13076\2293589161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropDuplicatesCustomer.iloc[:,-1] = pd.to_datetime(dropDuplicatesCustomer.iloc[:,-1], format='%Y-%m-%d %H:%M:%S')

In [11]:
dropDuplicatesCustomer.iloc[:,2] = dropDuplicatesCustomer.iloc[:,2].astype(int)

C:\Users\p2308924\AppData\Local\Temp\ipykernel_13076\2658627371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropDuplicatesCustomer.iloc[:,2] = dropDuplicatesCustomer.iloc[:,2].astype(int)

In [12]:
dropDuplicatesCustomer.iloc[:,2].unique()

array([1, 0])

In [13]:
dropDuplicatesCustomer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2194642 entries, 0 to 2195915
Data columns (total 9 columns):
 #   Column                            Dtype
---  ------                            -----
 0   country_code                      object
 1   customer_id                       object
 2   mobile_verified                   int32
 3   num_orders_last_50days            int64
 4   num_cancelled_orders_last_50days  int64
 5   num_refund_orders_last_50days     int64
 6   total_payment_last_50days         float64
 7   num_associated_customers          int64
 8   first_order_datetime              datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int32(1), int64(4), object(2)
memory usage: 159.1+ MB

# Reindex

In [14]:
customer = dropDuplicatesCustomer.reset_index(drop=True)
customer

,country_code,customer_id,mobile_verified,num_orders_last_50days,num_cancelled_orders_last_50days,num_refund_orders_last_50days,total_payment_last_50days,num_associated_customers,first_order_datetime
0,PH,phjr7fpu,1,0,0,0,0.000000,1,2023-02-06 14:31:37
1,PH,phawdv1w,1,0,0,0,1.082516,1,2023-02-07 10:03:22
2,PH,ph9ocrr7,1,0,0,0,0.050195,2,2022-03-08 06:16:09
3,PH,phf8rsec,1,0,0,0,0.000000,3,2021-08-07 13:54:45
4,PH,ph74rzxh,1,0,0,0,0.000000,1,2022-01-28 12:57:22
...,...,...,...,...,...,...,...,...,...
2194637,PK,j6nfn5ti,1,255,0,2,2234.896087,1,2014-11-01 06:55:11
2194638,PK,b4gpu8af,1,255,2,2,1175.236232,3,2022-06-25 07:03:58
2194639,PK,pkfwi1dm,1,255,3,14,988.869450,3,2018-12-21 12:04:11
2194640,PK,m5hje3za,1,255,9,8,1852.352367,2,2014-03-26 06:10:24
2194641,PK,a3pii8gl,1,255,3,6,1944.743490,3,2014-12-13 15:05:26

In [15]:
ogCustomerLength = len(ogCustomer)
customerLength = len(customer)

print(ogCustomer.shape)
print(customer.shape)
print(f'We removed {ogCustomerLength - customerLength} rows which is {((ogCustomerLength - customerLength) / ogCustomerLength * 100):.2f}% of the total number of rows in the dataset')

(2195916, 9)
(2194642, 9)
We removed 1274 rows which is 0.06% of the total number of rows in the dataset

In [16]:
customer.to_csv('final_customer.csv')

# Order

In [ ]:
ogOrder = pd.read_csv("training-data-order-features_v1.0.csv")
ogOrder.head()

In [ ]:
ogOrder.shape

# Missing Values

In [ ]:
ogOrder.isnull().sum()

In [ ]:
dropnaOrder = ogOrder.dropna()
dropnaOrder.isnull().sum()

# Duplicated Rows

In [ ]:
dropnaOrder.duplicated().sum()

In [ ]:
dropDuplicatesOrder = dropnaOrder.drop_duplicates(keep='last')
dropDuplicatesOrder.duplicated().sum()

# Datatype

In [ ]:
dropDuplicatesOrder.info()

# Labels

In [ ]:
labels = pd.read_csv("training-labels_v1.0.csv")
labels.head()

In [ ]:
labels.shape

In [ ]:
labels.isnull().sum()

In [ ]:
labels.duplicated().sum()