# Import Libraries

In [16]:
import os
os.chdir(r'C:\Users\p2308924\Practical AI (PAI)\Github CA\PAICA1\Datasets')

import pandas as pd

# Customer

In [17]:
ogCustomer = pd.read_csv("training-data-customer-features_v1.0.csv")
ogCustomer.head()

,country_code,customer_id,mobile_verified,num_orders_last_50days,num_cancelled_orders_last_50days,num_refund_orders_last_50days,total_payment_last_50days,num_associated_customers,first_order_datetime
0,PH,phjr7fpu,True,0,0,0,0.000000,1,2023-02-06 14:31:37
1,PH,phawdv1w,True,0,0,0,1.082516,1,2023-02-07 10:03:22
2,PH,ph9ocrr7,True,0,0,0,0.050195,2,2022-03-08 06:16:09
3,PH,phf8rsec,True,0,0,0,0.000000,3,2021-08-07 13:54:45
4,PH,ph74rzxh,True,0,0,0,0.000000,1,2022-01-28 12:57:22

In [18]:
ogCustomer.shape

(2195916, 9)

# Missing Values

In [19]:
ogCustomer.isnull().sum()

country_code                           0
customer_id                            0
mobile_verified                        0
num_orders_last_50days                 0
num_cancelled_orders_last_50days       0
num_refund_orders_last_50days          0
total_payment_last_50days              0
num_associated_customers               0
first_order_datetime                1240
dtype: int64

In [20]:
percentageOfNa = round(ogCustomer.iloc[:,-1].isnull().sum() / len(ogCustomer.iloc[:,-1]) * 100, 2)
print(f'{percentageOfNa}% of the rows contain missing values. Since {percentageOfNa}% is very insignificant, we will drop the missing values')

0.06% of the rows contain missing values. Since 0.06% is very insignificant, we will drop the missing values

In [21]:
dropnaCustomer = ogCustomer.dropna()
dropnaCustomer.isnull().sum()

country_code                        0
customer_id                         0
mobile_verified                     0
num_orders_last_50days              0
num_cancelled_orders_last_50days    0
num_refund_orders_last_50days       0
total_payment_last_50days           0
num_associated_customers            0
first_order_datetime                0
dtype: int64

# Duplicated Rows

In [22]:
dropnaCustomer.duplicated().sum()

34

In [23]:
dropnaCustomer[dropnaCustomer.duplicated() == True]

,country_code,customer_id,mobile_verified,num_orders_last_50days,num_cancelled_orders_last_50days,num_refund_orders_last_50days,total_payment_last_50days,num_associated_customers,first_order_datetime
7714,PH,phyah4qj,True,0,0,0,0.0,2,2021-03-26 16:46:09
9683,PH,phjss0fc,True,0,0,0,0.0,4,2022-11-30 14:31:13
168576,PH,phi93ivr,True,0,0,0,0.0,5,2022-12-01 23:49:33
171530,PH,phwvu1bb,True,0,0,0,0.0,1,2021-03-31 10:29:34
176664,PH,phxbphwe,True,0,0,0,0.0,5,2020-12-03 13:50:49
177952,PH,phyz7s2n,True,0,0,0,0.0,4,2022-07-23 08:11:33
178501,PH,pha4mhou,True,0,0,0,0.0,2,2022-12-09 01:21:04
178936,PH,phz0cuq8,True,0,0,0,0.0,2,2021-04-16 19:09:04
191022,PH,phiwo5t1,True,1,0,0,0.0,2,2022-10-03 19:06:01
685639,BD,bdljefh0,True,0,0,0,0.0,1,2021-10-28 12:44:08
696856,BD,bdizjf41,True,0,0,0,0.0,1,2022-11-12 17:21:10
696911,BD,bdslsfyu,True,1,0,0,0.0,1,2022-11-12 17:38:54
697004,BD,bdbpmokq,True,1,0,0,0.0,1,2022-11-13 13:28:41
699998,BD,bdqwrrd1,True,0,0,0,0.0,1,2022-12-26 11:52:03
795387,MY,my4d59ki,True,0,0,0,0.0,6,2022-07-12 12:54:25
957675,MY,mymj4izd,True,0,0,0,0.0,1,2022-11-21 06:21:05
960177,MY,myprs1hr,True,0,0,0,0.0,2,2019-06-18 04:40:21
963068,MY,mynai6io,True,0,0,0,0.0,2,2019-06-15 08:37:12
1129781,MY,myov9zf9,True,0,0,0,0.0,1,2022-05-27 00:47:07
1131003,MY,myl2cvva,True,0,0,0,0.0,8,2023-01-12 04:43:51
1630068,TH,thdcm5jl,True,0,0,0,0.0,1,2021-04-05 12:18:59
1632938,TH,th6cnlre,True,0,0,0,0.0,5,2022-02-25 00:43:51
1783613,PK,h8xfb3bh,True,0,0,0,0.0,4,2018-08-22 13:16:50
1788143,PK,pkg6w5vc,True,0,0,0,0.0,5,2021-10-01 13:16:25
1795871,PK,pkbij1ke,True,1,0,0,0.0,4,2019-10-09 18:45:07
1795953,PK,pkg21ww5,True,1,0,0,0.0,4,2022-04-22 17:43:17
1946792,PK,pkn3wwlu,True,0,0,0,0.0,2,2021-09-04 13:52:27
1948277,PK,pkm2586b,True,0,0,0,0.0,1,2022-11-24 17:57:42
1948919,PK,pkroir38,True,0,0,0,0.0,2,2022-01-23 13:12:17
1950493,PK,pkxdtexi,True,0,0,0,0.0,2,2022-05-31 19:21:38
1952185,PK,pkwdg2lf,True,0,0,0,0.0,9,2019-06-26 10:18:05
1954901,PK,pkh7dn02,True,0,0,0,0.0,2,2020-09-06 13:57:43
1956046,PK,i5iic0tx,True,0,0,0,0.0,2,2017-08-05 17:28:54
1956815,PK,s3rpy5if,True,1,0,0,0.0,3,2016-05-30 14:40:03

In [24]:
dropnaCustomer[dropnaCustomer.iloc[:,1] == 'phyah4qj']

,country_code,customer_id,mobile_verified,num_orders_last_50days,num_cancelled_orders_last_50days,num_refund_orders_last_50days,total_payment_last_50days,num_associated_customers,first_order_datetime
1572,PH,phyah4qj,True,0,0,0,0.000000,2,2021-03-26 16:46:09
7714,PH,phyah4qj,True,0,0,0,0.000000,2,2021-03-26 16:46:09
23740,PH,phyah4qj,True,1,1,1,0.000000,2,2021-03-26 16:46:09
34014,PH,phyah4qj,True,2,2,2,10.605391,2,2021-03-26 16:46:09
60601,PH,phyah4qj,True,5,3,3,15.351914,2,2021-03-26 16:46:09

In [25]:
customer = dropnaCustomer.drop_duplicates(keep='last')
customer.duplicated().sum()

0

# Datatypes

In [26]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2194642 entries, 0 to 2195915
Data columns (total 9 columns):
 #   Column                            Dtype
---  ------                            -----
 0   country_code                      object
 1   customer_id                       object
 2   mobile_verified                   bool
 3   num_orders_last_50days            int64
 4   num_cancelled_orders_last_50days  int64
 5   num_refund_orders_last_50days     int64
 6   total_payment_last_50days         float64
 7   num_associated_customers          int64
 8   first_order_datetime              object
dtypes: bool(1), float64(1), int64(4), object(3)
memory usage: 152.8+ MB

In [27]:
customer.iloc[:,-1] = pd.to_datetime(customer.iloc[:,-1], format='%Y-%m-%d %H:%M:%S')

C:\Users\p2308924\AppData\Local\Temp\ipykernel_7768\2414050432.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer.iloc[:,-1] = pd.to_datetime(customer.iloc[:,-1], format='%Y-%m-%d %H:%M:%S')

In [28]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2194642 entries, 0 to 2195915
Data columns (total 9 columns):
 #   Column                            Dtype
---  ------                            -----
 0   country_code                      object
 1   customer_id                       object
 2   mobile_verified                   bool
 3   num_orders_last_50days            int64
 4   num_cancelled_orders_last_50days  int64
 5   num_refund_orders_last_50days     int64
 6   total_payment_last_50days         float64
 7   num_associated_customers          int64
 8   first_order_datetime              datetime64[ns]
dtypes: bool(1), datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 152.8+ MB

In [29]:
ogCustomerLength = len(ogCustomer)
customerLength = len(customer)

print(ogCustomer.shape)
print(customer.shape)
print(f'We removed {ogCustomerLength - customerLength} rows which is {((ogCustomerLength - customerLength) / ogCustomerLength * 100):.2f}% of the total number of rows in the dataset')

(2195916, 9)
(2194642, 9)
We removed 1274 rows which is 0.06% of the total number of rows in the dataset

# Order

In [23]:
ogOrder = pd.read_csv("training-data-order-features_v1.0.csv")
ogOrder.head()

,country_code,order_id,collect_type,payment_method,order_value,num_items_ordered,refund_value,order_date
0,PH,cktw-hdnh,delivery,credit card,18.379008,2.0,6.07,2023/04/09
1,PH,s9mi-zzap,delivery,antfinancial gcash,5.387819,4.0,0.00,2023/04/09
2,PH,vgow-r2i6,delivery,payment on delivery,8.526517,4.0,0.00,2023/04/09
3,PH,u7pg-7rn7,delivery,antfinancial gcash,7.452310,6.0,0.00,2023/04/09
4,PH,q6dn-z0p9,delivery,credit card,9.030052,4.0,0.62,2023/04/09

In [24]:
ogOrder.shape

(2270509, 8)

In [25]:
ogOrder.isnull().sum()

country_code         0
order_id             0
collect_type         0
payment_method       0
order_value          0
num_items_ordered    3
refund_value         0
order_date           0
dtype: int64

In [26]:
ogOrder.duplicated().sum()

1110

# Labels

In [27]:
labels = pd.read_csv("training-labels_v1.0.csv")
labels.head()

  country_code   order_id customer_id  is_fraud
0           BD  w2lx-myz3    bdpr8uva         0
1           BD  ta7z-r91q    bd59rlzo         0
2           BD  t5af-wgb2    bd6zhjvq         0
3           BD  sibu-9lm4    bd4fv4rb         0
4           BD  we61-omtr    bdzeepq7         0

In [28]:
labels.shape

(2414179, 4)

In [29]:
labels.isnull().sum()

country_code    0
order_id        0
customer_id     0
is_fraud        0
dtype: int64

In [30]:
labels.duplicated().sum()

143361